APP_NAME=Frananda Ferrell 
APP_KEY=secret
PORT=6001
APP_URL=http://localhost:6001
 
CLIENT_APP_URL=http://localhost:3000
SESSION_SECRET=secret
JWT_SECRET=secret
JWT_EXPIRY=86400000
 

DATABASE_URL="postgresql://postgres:root@localhost:5432/fernandaferrell"


# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

 
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=


LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PROJECT_ID=

 
GOOGLE_APP_ID=43
GOOGLE_APP_SECRET=545
GOOGLE_CALLBACK_URL=${APP_URL}/api/auth/google/redirect
 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=https://s3.us-east-2.amazonaws.com
 
GCP_PROJECT_ID=
GCP_KEY_FILE=
GCP_API_ENDPOINT=
GCP_BUCKET=
 
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=
 
PAYPAL_CLIENT_ID=fgyfly,k
PAYPAL_SECRET=mjh,kyhhy,
PAYPAL_API=,yfimjg
 
# system user
SYSTEM_USERNAME=admin
SYSTEM_EMAIL=admin@example.com
SYSTEM_PASSWORD=12356