APP_NAME=Mercury
APP_KEY=
PORT=6003
APP_URL=http://localhost:6003

CLIENT_APP_URL=http://localhost:3000
SESSION_SECRET=
JWT_SECRET=
JWT_EXPIRY=86400000

DATABASE_URL="postgresql://user:password@localhost:5432/mercury"

# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=default
REDIS_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=${APP_NAME}

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PROJECT_ID=

GOOGLE_APP_ID=
GOOGLE_APP_SECRET=
GOOGLE_CALLBACK_URL=${APP_URL}/api/auth/google/redirect

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_API=

# System User
SYSTEM_USERNAME=admin
SYSTEM_EMAIL=admin@example.com
SYSTEM_PASSWORD=